.App{
  
  width: 46em;
  margin: 0 auto;
}
.contain{
  max-width: 46em;
  background-color: rgb(250, 251, 200);
  text-align: center;
  margin: 0 auto;
}

.header{
  color: black;

}

.Head{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form{
  border: 2px solid red;
  margin: 1rem auto;
}

.form .input{
  border: none;
  outline: none;
  border-radius: 5px;
  height: 2em;
  font-size: larger;
  width: 16em;
  
}

.form{
  display: flex;
  flex-direction: column;
  width: 20em;
  
}

.text-form .textarea{
  width: 23em;
}

.button{
  width: 100%;
}

.threeButtons{
  display:flex;
  justify-content: center;

}

.threeButtons button{
  width: 10em;
  padding: .2rem .5rem;
}


.display .displayContainer{
  padding: 1em;
  color: black;
  background-color: aliceblue;
  width: 20rem;
  margin: 1rem auto;

}

.submitButton{
  margin-top: 10px;
  width: fit-content;
  padding: 5px;
  border: none;
}