.App{
  
  width: 46em;
  margin: 0 auto;
}
.contain{
  max-width: 46em;
  background-color: rgb(250, 251, 200);
  text-align: center;
  margin: 0 auto;
}

.header{
  color: black;

}

.Head{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form input{
  border: none;
  outline: none;
  border-radius: 5px;
  height: 2em;
  font-size: larger;
  width: 16em;
  margin: 0 auto;
}